.wrapper{
    margin-left: -242px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

@media (max-width: 600px) { 
    .wrapper{
        margin-left: 0;
    }
}