.heading{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #F0F1FF;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 6px;
}