.wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -242px;
    margin-top: 18px;
    gap: 18px;
}

.dilectus{
    width: 314px;
    height: 314px;
    padding: 18px;
    border-radius: 48px;
    background-color: #1B1E23;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.style{
    display: flex;
    flex-direction: column;
    gap: 14px;
    border-radius: 48px;
    background-color: #1B1E23;
    align-items: center;
    justify-content: center;
}

.accessory{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 22px;
    border-radius: 32px;
    background-color: #1B1E23;
    width: 314px;
}


.edit{
    display: flex;
    flex-direction: row;
    border-radius: 48px;
    background-color: #1B1E23;
    padding: 18px;
    gap: 22px;
    justify-content: center;
    align-items: center;
}

.empty{
    width: 90px;
    height: 90px;
    border-radius: 30px;
    background-color: #24282F;
}



@media (max-width: 870px) { 
    .wrap{
       flex-direction: column;
       margin-right: 0px;
    }
    .style{
        flex-direction: row;
    }
    .edit{
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .wrap{
        margin-left: 12px;
        margin-right: 12px;
        margin-top: 18px;
    }
}