.wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 242px;
    gap: 18px;
    height: 100dvh;
}

.dilectus{
    width: 314px;
    height: 314px;
    padding: 18px;
    border-radius: 48px;
    background-color: #1B1E23;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.style{
    display: flex;
    flex-direction: column;
    gap: 14px;
    border-radius: 48px;
    background-color: #1B1E23;
    align-items: center;
    justify-content: center;
}

.accessory{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
    border-radius: 32px;
    background-color: #1B1E23;
    width: 306px;
}


.edit{
    display: flex;
    flex-direction: row;
    border-radius: 48px;
    background-color: #1B1E23;
    padding: 18px;
    gap: 18px;
}