.selected{
    width: 90px;
    height: 90px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: #F0F1FF;
}

.default{
    width: 90px;
    height: 90px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: #24282F;
    opacity: 80%;
}


.default:hover{
    width: 90px;
    height: 90px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: #24282F;
    opacity: 100%;
}

.image{
    width: 84px;
    height: 84px;
    border-radius: 27px;
}