

.primary{
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 16px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.50px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 36px;
    padding-right: 36px;
    cursor: pointer;
    border: none;
    border-radius: 24px;
    background-color: #FF5756;
    color: #0A0B10;
}

.primary:hover {
    opacity: 80%;
}

.primary:active {
    scale: 0.95;
}

.secondary{
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 16px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.50px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 36px;
    padding-right: 36px;
    cursor: pointer;
    border-radius: 24px;
    background-color: #2E99FF;
    color: #0A0B10;
    border: none;
}

.secondary:hover {
    opacity: 80%;
}

.secondary:active {
    scale: 0.95;
}

.tertiary{
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 16px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.50px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 36px;
    padding-right: 36px;
    cursor: pointer;
    border-radius: 24px;
    background-color: #FFFD57;
    color: #0A0B10;
    border: none;
}

.tertiary:hover {
    opacity: 80%;
}

.tertiary:active {
    scale: 0.95;
}

.quaternary{
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 16px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.50px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 36px;
    padding-right: 36px;
    cursor: pointer;
    border-radius: 24px;
    background-color: #3AD996;
    color: #0A0B10;
    border: none;
}

.quaternary:hover {
    opacity: 80%;
}

.quaternary:active {
    scale: 0.95;
}

.senary{
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 16px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.50px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 36px;
    padding-right: 36px;
    cursor: pointer;
    border-radius: 24px;
    background-color: #A257FF;
    color: #0A0B10;
    border: none;
}

.senary:hover {
    opacity: 80%;
}

.senary:active {
    scale: 0.95;
}

.withIcon{
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 16px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.50px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 28px;
    cursor: pointer;
    border-radius: 24px;
    background-color: #F0F1FF;
    color: #0A0B10;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.withIcon:hover{
    opacity: 80%;
}

.withIcon:active{
    scale: 0.95;
}

.outlined{
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 16px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.50px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 36px;
    padding-right: 36px;
    cursor: pointer;
    border-radius: 24px;
    color: #F0F1FF;
    border: 1px solid #F0F1FF;
    background-color: #0A0B10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.outlined:hover{
    background-color: #F0F1FF;
    color: #0A0B10;
}

.outlined:active{
    scale: 0.95;
}