body{
  display: flex;
  height: 100dvh;
  margin: 0;
  background-color: #0A0B10;
  color: #F0F1FF;
  flex-direction: row;
}

.main{
  display: flex;
  flex-direction: column;
  margin-left: 242px;
  width: 100%;
}

.main main{
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

@media (max-width: 600px) { 
  .main {
    margin-left: 0;
  }
  .main main{
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
  }
}
