.topBarContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
}

@media (max-width: 1050px) { 
    .topBarContainer {
      flex-direction: column-reverse;
      gap: 24px;
    }
}